## International Statistical Classification of Diseases and Related Health Problems 10th Revision

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
# url='https://icd.who.int/browse10/2019/en'
# params ={'selectplane':'Cessna 208 Caravan',
#         'submit':''}
# response=requests.post(url, data=params)
# soup = BeautifulSoup(response.text, 'html5lib')
# print(soup)

# import requests

# chapter_url = 'https://icd.who.int/browse10/2016/en/JsonGetRootConcepts?useHtml=false'
# chapters = requests.get(chapter_url).json()
# chapter_IDS = [chapter['ID'] for chapter in chapters]

# inner_section_names = []
# section_url = 'https://icd.who.int/browse10/2016/en/JsonGetChildrenConcepts?ConceptId={}&useHtml=false'
# for ID in chapter_IDS:
#     sections = requests.get(section_url.format(ID)).json()
#     section_IDS = [section['ID'] for section in sections]

#     for inner_ID in section_IDS:
#         inner_sections = requests.get(section_url.format(inner_ID)).json()
#         temp = [inner_section['label'] for inner_section in inner_sections]
#         inner_section_names.extend(temp)

# print(inner_section_names)

In [3]:
url = 'http://icd.who.int/browse10/2019/en'
reqs = requests.get(url)
soup = BeautifulSoup(reqs.text, 'html.parser')
 
urls = []
for link in soup.find_all('a'):
    print(link.get('href'))

None
/browse10/2019/en
None
/browse10/2016/en
/browse10/2015/en
/browse10/2014/en
/browse10/2010/en
/browse10/2008/en
/browse10/2008/fr
http://www.who.int/classifications/icd/icdonlineversions/en/index.html
None
/browse10/Help/en
/browse10/Content/statichtml/ICD10Volume2_en_2019.pdf
/browse10/Help/Get/diff-files/en
https://www.who.int/standards/classifications/classification-of-diseases
http://apps.who.int/classifications/apps/icd/icd10training

In [4]:
chapter_url = 'https://icd.who.int/browse10/2019/en/JsonGetRootConcepts?useHtml=false'
chapters = requests.get(chapter_url).json()
chapter_IDS = [chapter['ID'] for chapter in chapters]

missed=[]
inner_section_names = []
section_url = 'https://icd.who.int/browse10/2019/en/JsonGetChildrenConcepts?ConceptId={}&useHtml=false'
print(chapter_IDS)
for ID in chapter_IDS:
    sections = requests.get(section_url.format(ID)).json()
    section_IDS = [section['ID'] for section in sections]
    print(section_IDS)
    for inner_ID in section_IDS:
        inner_sections = requests.get(section_url.format(inner_ID)).json()
        for i in range(0,len(inner_sections)):
            if(len(inner_sections[i]["ID"])>3):
                print((inner_sections[i]["ID"]))
            else:
                temp = [inner_section['label'] for inner_section in inner_sections]
                inner_section_names.extend(temp)
        

# print(inner_section_names)

In [18]:
len(inner_section_names)

1660

In [19]:
lst=inner_section_names

In [73]:
# lst
a=lst

In [8]:

def lsttotable(lst):
    ids=[]
    description=[]
    for i in range(0,len(lst)):
        x=""
        cnt=0
        for j in range(0,len(lst[i])):
            x+=lst[i][j]
            if(lst[i][j]==" " and cnt<1):
                cnt+=1
                ids.append(x)
                description.append(lst[i][j+1:])
            else:
                continue
    print(len(ids),len(description))
    return [ids,description]

In [3]:
icd=lsttotable(lst)
len(icd)

In [77]:
icdd = [icd[0], icd[1]] 
df = pd.DataFrame(list(zip(icd[0], icd[1])),columns =['Ids', 'Description'])
df

       Ids                              Description
0     A00                                   Cholera
1     A01            Typhoid and paratyphoid fevers
2     A02               Other salmonella infections
3     A03                               Shigellosis
4     A04     Other bacterial intestinal infections
...    ...                                      ...
1655  U49                      Emergency use of U49
1656  U82      Resistance to betalactam antibiotics
1657  U83           Resistance to other antibiotics
1658  U84   Resistance to other antimicrobial drugs
1659  U85        Resistance to antineoplastic drugs

[1660 rows x 2 columns]

In [79]:
df.to_csv("icd_10_2019.csv",index=False)

In [9]:
df=pd.read_csv("icd_10_2019.csv")

In [10]:
# df[df.Ids == "A00"]

In [12]:
# df

In [15]:
missed=["C00-C75",
"C76-C80",
"C81-C96",
"C97-C97",
"M00-M03",
"M05-M14",
"M15-M19",
"M20-M25",
"M40-M43",
"M45-M49",
"M50-M54",
"M60-M63",
"M65-M68",
"M70-M79",
"M80-M85",
"M86-M90",
"M91-M94",
"T20-T25",
"T26-T28",
"T29-T32",
"V01-V99",
"W00-X59"]

In [16]:
cx=missed

In [17]:
inner_section_names2=[]
for inner_ID in cx:
        inner_sections = requests.get(section_url.format(inner_ID)).json()
        temp = [inner_section['label'] for inner_section in inner_sections]
        print(temp)
        inner_section_names2.extend(temp)

['C00-C14 Malignant neoplasms of lip, oral cavity and pharynx', 'C15-C26 Malignant neoplasms of digestive organs', 'C30-C39 Malignant neoplasms of respiratory and intrathoracic organs', 'C40-C41 Malignant neoplasms of bone and articular cartilage', 'C43-C44 Melanoma and other malignant neoplasms of skin', 'C45-C49 Malignant neoplasms of mesothelial and soft tissue', 'C50-C50 Malignant neoplasm of breast', 'C51-C58 Malignant neoplasms of female genital organs', 'C60-C63 Malignant neoplasms of male genital organs', 'C64-C68 Malignant neoplasms of urinary tract', 'C69-C72 Malignant neoplasms of eye, brain and other parts of central nervous system', 'C73-C75 Malignant neoplasms of thyroid and other endocrine glands']
['C76 Malignant neoplasm of other and ill-defined sites', 'C77 Secondary and unspecified malignant neoplasm of lymph nodes', 'C78 Secondary malignant neoplasm of respiratory and digestive organs', 'C79 Secondary malignant neoplasm of other and unspecified sites', 'C80 Malignant neoplasm, without specification of site']
['C81 Hodgkin lymphoma', 'C82 Follicular lymphoma', 'C83 Non-follicular lymphoma', 'C84 Mature T/NK-cell lymphomas', 'C85 Other and unspecified types of non-Hodgkin lymphoma', 'C86 Other specified types of T/NK-cell lymphoma', 'C88 Malignant immunoproliferative diseases', 'C90 Multiple myeloma and malignant plasma cell neoplasms', 'C91 Lymphoid leukaemia', 'C92 Myeloid leukaemia', 'C93 Monocytic leukaemia', 'C94 Other leukaemias of specified cell type', 'C95 Leukaemia of unspecified cell type', 'C96 Other and unspecified malignant neoplasms of lymphoid, haematopoietic and related tissue']
['C97 Malignant neoplasms of independent (primary) multiple sites']
['M00 Pyogenic arthritis', 'M01 Direct infections of joint in infectious and parasitic diseases classified elsewhere', 'M02 Reactive arthropathies', 'M03 Postinfective and reactive arthropathies in diseases classified elsewhere']
['M05 Seropositive rheumatoid arthritis', 'M06 Other rheumatoid arthritis', 'M07 Psoriatic and enteropathic arthropathies', 'M08 Juvenile arthritis', 'M09 Juvenile arthritis in diseases classified elsewhere', 'M10 Gout', 'M11 Other crystal arthropathies', 'M12 Other specific arthropathies', 'M13 Other arthritis', 'M14 Arthropathies in other diseases classified elsewhere']
['M15 Polyarthrosis', 'M16 Coxarthrosis [arthrosis of hip]', 'M17 Gonarthrosis [arthrosis of knee]', 'M18 Arthrosis of first carpometacarpal joint', 'M19 Other arthrosis']
['M20 Acquired deformities of fingers and toes', 'M21 Other acquired deformities of limbs', 'M22 Disorders of patella', 'M23 Internal derangement of knee', 'M24 Other specific joint derangements', 'M25 Other joint disorders, not elsewhere classified']
['M40 Kyphosis and lordosis', 'M41 Scoliosis', 'M42 Spinal osteochondrosis', 'M43 Other deforming dorsopathies']
['M45 Ankylosing spondylitis', 'M46 Other inflammatory spondylopathies', 'M47 Spondylosis', 'M48 Other spondylopathies', 'M49 Spondylopathies in diseases classified elsewhere']
['M50 Cervical disc disorders', 'M51 Other intervertebral disc disorders', 'M53 Other dorsopathies, not elsewhere classified', 'M54 Dorsalgia']
['M60 Myositis', 'M61 Calcification and ossification of muscle', 'M62 Other disorders of muscle', 'M63 Disorders of muscle in diseases classified elsewhere']
['M65 Synovitis and tenosynovitis', 'M66 Spontaneous rupture of synovium and tendon', 'M67 Other disorders of synovium and tendon', 'M68 Disorders of synovium and tendon in diseases classified elsewhere']
['M70 Soft tissue disorders related to use, overuse and pressure', 'M71 Other bursopathies', 'M72 Fibroblastic disorders', 'M73 Soft tissue disorders in diseases classified elsewhere', 'M75 Shoulder lesions', 'M76 Enthesopathies of lower limb, excluding foot', 'M77 Other enthesopathies', 'M79 Other soft tissue disorders, not elsewhere classified']
['M80 Osteoporosis with pathological fracture', 'M81 Osteoporosis without pathological fracture', 'M82 Osteoporosis in diseases classified elsewhere', 'M83 Adult osteomalacia', 'M84 Disorders of continuity of bone', 'M85 Other disorders of bone density and structure']
['M86 Osteomyelitis', 'M87 Osteonecrosis', 'M88 Paget disease of bone [osteitis deformans]', 'M89 Other disorders of bone', 'M90 Osteopathies in diseases classified elsewhere']
['M91 Juvenile osteochondrosis of hip and pelvis', 'M92 Other juvenile osteochondrosis', 'M93 Other osteochondropathies', 'M94 Other disorders of cartilage']
['T20 Burn and corrosion of head and neck', 'T21 Burn and corrosion of trunk', 'T22 Burn and corrosion of shoulder and upper limb, except wrist and hand', 'T23 Burn and corrosion of wrist and hand', 'T24 Burn and corrosion of hip and lower limb, except ankle and foot', 'T25 Burn and corrosion of ankle and foot']
['T26 Burn and corrosion confined to eye and adnexa', 'T27 Burn and corrosion of respiratory tract', 'T28 Burn and corrosion of other internal organs']
['T29 Burns and corrosions of multiple body regions', 'T30 Burn and corrosion, body region unspecified', 'T31 Burns classified according to extent of body surface involved', 'T32 Corrosions classified according to extent of body surface involved']
['V01-V09 Pedestrian injured in transport accident', 'V10-V19 Pedal cyclist injured in transport accident', 'V20-V29 Motorcycle rider injured in transport accident', 'V30-V39 Occupant of three-wheeled motor vehicle injured in transport accident', 'V40-V49 Car occupant injured in transport accident', 'V50-V59 Occupant of pick-up truck or van injured in transport accident', 'V60-V69 Occupant of heavy transport vehicle injured in transport accident', 'V70-V79 Bus occupant injured in transport accident', 'V80-V89 Other land transport accidents', 'V90-V94 Water transport accidents', 'V95-V97 Air and space transport accidents', 'V98-V99 Other and unspecified transport accidents']
['W00-W19 Falls', 'W20-W49 Exposure to inanimate mechanical forces', 'W50-W64 Exposure to animate mechanical forces', 'W65-W74 Accidental drowning and submersion', 'W75-W84 Other accidental threats to breathing', 'W85-W99 Exposure to electric current, radiation and extreme ambient air temperature and pressure', 'X00-X09 Exposure to smoke, fire and flames', 'X10-X19 Contact with heat and hot substances', 'X20-X29 Contact with venomous animals and plants', 'X30-X39 Exposure to forces of nature', 'X40-X49 Accidental poisoning by and exposure to noxious substances', 'X50-X57 Overexertion, travel and privation', 'X58-X59 Accidental exposure to other and unspecified factors']

In [18]:
lst1=inner_section_names2

In [2]:
second2=lsttotable(lst1)
# second2

NameError: name 'lsttotable' is not defined

In [20]:
second = [second2[0], second2[1]] 
df1 = pd.DataFrame(list(zip(second2[0], second2[1])),columns =['Ids', 'Description'])
df1

          Ids                                        Description
0    C00-C14   Malignant neoplasms of lip, oral cavity and ph...
1    C15-C26             Malignant neoplasms of digestive organs
2    C30-C39   Malignant neoplasms of respiratory and intrath...
3    C40-C41   Malignant neoplasms of bone and articular cart...
4    C43-C44      Melanoma and other malignant neoplasms of skin
..        ...                                                ...
134  X20-X29            Contact with venomous animals and plants
135  X30-X39                        Exposure to forces of nature
136  X40-X49   Accidental poisoning by and exposure to noxiou...
137  X50-X57                  Overexertion, travel and privation
138  X58-X59   Accidental exposure to other and unspecified f...

[139 rows x 2 columns]

In [21]:
srt=['C00-C14','C15-C26','C30-C39',
  'C40-C41',
  'C43-C44',
  'C45-C49',
  'C50-C50',
  'C51-C58',
  'C60-C63',
  'C64-C68',
  'C69-C72',
  'C73-C75',
     'V01-V09',
  'V10-V19',
  'V20-V29',
  'V30-V39',
  'V40-V49',
  'V50-V59',
  'V60-V69',
  'V70-V79',
  'V80-V89',
  'V90-V94',
  'V95-V97',
  'V98-V99',
  'W00-W19',
  'W20-W49',
  'W50-W64',
  'W65-W74',
  'W75-W84',
  'W85-W99',
  'X00-X09',
  'X10-X19',
  'X20-X29',
  'X30-X39',
  'X40-X49',
  'X50-X57',
  'X58-X59']

In [22]:
# srt

['C00-C14',
 'C15-C26',
 'C30-C39',
 'C40-C41',
 'C43-C44',
 'C45-C49',
 'C50-C50',
 'C51-C58',
 'C60-C63',
 'C64-C68',
 'C69-C72',
 'C73-C75',
 'V01-V09',
 'V10-V19',
 'V20-V29',
 'V30-V39',
 'V40-V49',
 'V50-V59',
 'V60-V69',
 'V70-V79',
 'V80-V89',
 'V90-V94',
 'V95-V97',
 'V98-V99',
 'W00-W19',
 'W20-W49',
 'W50-W64',
 'W65-W74',
 'W75-W84',
 'W85-W99',
 'X00-X09',
 'X10-X19',
 'X20-X29',
 'X30-X39',
 'X40-X49',
 'X50-X57',
 'X58-X59']

In [23]:
inner_section_names3=[]
for inner_ID in srt:
        inner_sections = requests.get(section_url.format(inner_ID)).json()
        temp = [inner_section['label'] for inner_section in inner_sections]
#         print(temp)
        inner_section_names3.extend(temp)

['C00 Malignant neoplasm of lip', 'C01 Malignant neoplasm of base of tongue', 'C02 Malignant neoplasm of other and unspecified parts of tongue', 'C03 Malignant neoplasm of gum', 'C04 Malignant neoplasm of floor of mouth', 'C05 Malignant neoplasm of palate', 'C06 Malignant neoplasm of other and unspecified parts of mouth', 'C07 Malignant neoplasm of parotid gland', 'C08 Malignant neoplasm of other and unspecified major salivary glands', 'C09 Malignant neoplasm of tonsil', 'C10 Malignant neoplasm of oropharynx', 'C11 Malignant neoplasm of nasopharynx', 'C12 Malignant neoplasm of piriform sinus', 'C13 Malignant neoplasm of hypopharynx', 'C14 Malignant neoplasm of other and ill-defined sites in the lip, oral cavity and pharynx']
['C15 Malignant neoplasm of oesophagus', 'C16 Malignant neoplasm of stomach', 'C17 Malignant neoplasm of small intestine', 'C18 Malignant neoplasm of colon', 'C19 Malignant neoplasm of rectosigmoid junction', 'C20 Malignant neoplasm of rectum', 'C21 Malignant neoplasm of anus and anal canal', 'C22 Malignant neoplasm of liver and intrahepatic bile ducts', 'C23 Malignant neoplasm of gallbladder', 'C24 Malignant neoplasm of other and unspecified parts of biliary tract', 'C25 Malignant neoplasm of pancreas', 'C26 Malignant neoplasm of other and ill-defined digestive organs']
['C30 Malignant neoplasm of nasal cavity and middle ear', 'C31 Malignant neoplasm of accessory sinuses', 'C32 Malignant neoplasm of larynx', 'C33 Malignant neoplasm of trachea', 'C34 Malignant neoplasm of bronchus and lung', 'C37 Malignant neoplasm of thymus', 'C38 Malignant neoplasm of heart, mediastinum and pleura', 'C39 Malignant neoplasm of other and ill-defined sites in the respiratory system and intrathoracic organs']
['C40 Malignant neoplasm of bone and articular cartilage of limbs', 'C41 Malignant neoplasm of bone and articular cartilage of other and unspecified sites']
['C43 Malignant melanoma of skin', 'C44 Other malignant neoplasms of skin']
['C45 Mesothelioma', 'C46 Kaposi sarcoma', 'C47 Malignant neoplasm of peripheral nerves and autonomic nervous system', 'C48 Malignant neoplasm of retroperitoneum and peritoneum', 'C49 Malignant neoplasm of other connective and soft tissue']
['C50 Malignant neoplasm of breast']
['C51 Malignant neoplasm of vulva', 'C52 Malignant neoplasm of vagina', 'C53 Malignant neoplasm of cervix uteri', 'C54 Malignant neoplasm of corpus uteri', 'C55 Malignant neoplasm of uterus, part unspecified', 'C56 Malignant neoplasm of ovary', 'C57 Malignant neoplasm of other and unspecified female genital organs', 'C58 Malignant neoplasm of placenta']
['C60 Malignant neoplasm of penis', 'C61 Malignant neoplasm of prostate', 'C62 Malignant neoplasm of testis', 'C63 Malignant neoplasm of other and unspecified male genital organs']
['C64 Malignant neoplasm of kidney, except renal pelvis', 'C65 Malignant neoplasm of renal pelvis', 'C66 Malignant neoplasm of ureter', 'C67 Malignant neoplasm of bladder', 'C68 Malignant neoplasm of other and unspecified urinary organs']
['C69 Malignant neoplasm of eye and adnexa', 'C70 Malignant neoplasm of meninges', 'C71 Malignant neoplasm of brain', 'C72 Malignant neoplasm of spinal cord, cranial nerves and other parts of central nervous system']
['C73 Malignant neoplasm of thyroid gland', 'C74 Malignant neoplasm of adrenal gland', 'C75 Malignant neoplasm of other endocrine glands and related structures']
['V01 Pedestrian injured in collision with pedal cycle', 'V02 Pedestrian injured in collision with two- or three-wheeled motor vehicle', 'V03 Pedestrian injured in collision with car, pick-up truck or van', 'V04 Pedestrian injured in collision with heavy transport vehicle or bus', 'V05 Pedestrian injured in collision with railway train or railway vehicle', 'V06 Pedestrian injured in collision with other nonmotor vehicle', 'V09 Pedestrian injured in other and unspecified transport accidents']
['V10 Pedal cyclist injured in collision with pedestrian or animal', 'V11 Pedal cyclist injured in collision with other pedal cycle', 'V12 Pedal cyclist injured in collision with two- or three-wheeled motor vehicle', 'V13 Pedal cyclist injured in collision with car, pick-up truck or van', 'V14 Pedal cyclist injured in collision with heavy transport vehicle or bus', 'V15 Pedal cyclist injured in collision with railway train or railway vehicle', 'V16 Pedal cyclist injured in collision with other nonmotor vehicle', 'V17 Pedal cyclist injured in collision with fixed or stationary object', 'V18 Pedal cyclist injured in noncollision transport accident', 'V19 Pedal cyclist injured in other and unspecified transport accidents']
['V20 Motorcycle rider injured in collision with pedestrian or animal', 'V21 Motorcycle rider injured in collision with pedal cycle', 'V22 Motorcycle rider injured in collision with two- or three-wheeled motor vehicle', 'V23 Motorcycle rider injured in collision with car, pick-up truck or van', 'V24 Motorcycle rider injured in collision with heavy transport vehicle or bus', 'V25 Motorcycle rider injured in collision with railway train or railway vehicle', 'V26 Motorcycle rider injured in collision with other nonmotor vehicle', 'V27 Motorcycle rider injured in collision with fixed or stationary object', 'V28 Motorcycle rider injured in noncollision transport accident', 'V29 Motorcycle rider injured in other and unspecified transport accidents']
['V30 Occupant of three-wheeled motor vehicle injured in collision with pedestrian or animal', 'V31 Occupant of three-wheeled motor vehicle injured in collision with pedal cycle', 'V32 Occupant of three-wheeled motor vehicle injured in collision with two- or three-wheeled motor vehicle', 'V33 Occupant of three-wheeled motor vehicle injured in collision with car, pick-up truck or van', 'V34 Occupant of three-wheeled motor vehicle injured in collision with heavy transport vehicle or bus', 'V35 Occupant of three-wheeled motor vehicle injured in collision with railway train or railway vehicle', 'V36 Occupant of three-wheeled motor vehicle injured in collision with other nonmotor vehicle', 'V37 Occupant of three-wheeled motor vehicle injured in collision with fixed or stationary object', 'V38 Occupant of three-wheeled motor vehicle injured in noncollision transport accident', 'V39 Occupant of three-wheeled motor vehicle injured in other and unspecified transport accidents']
['V40 Car occupant injured in collision with pedestrian or animal', 'V41 Car occupant injured in collision with pedal cycle', 'V42 Car occupant injured in collision with two- or three-wheeled motor vehicle', 'V43 Car occupant injured in collision with car, pick-up truck or van', 'V44 Car occupant injured in collision with heavy transport vehicle or bus', 'V45 Car occupant injured in collision with railway train or railway vehicle', 'V46 Car occupant injured in collision with other nonmotor vehicle', 'V47 Car occupant injured in collision with fixed or stationary object', 'V48 Car occupant injured in noncollision transport accident', 'V49 Car occupant injured in other and unspecified transport accidents']
['V50 Occupant of pick-up truck or van injured in collision with pedestrian or animal', 'V51 Occupant of pick-up truck or van injured in collision with pedal cycle', 'V52 Occupant of pick-up truck or van injured in collision with two- or three-wheeled motor vehicle', 'V53 Occupant of pick-up truck or van injured in collision with car, pick-up truck or van', 'V54 Occupant of pick-up truck or van injured in collision with heavy transport vehicle or bus', 'V55 Occupant of pick-up truck or van injured in collision with railway train or railway vehicle', 'V56 Occupant of pick-up truck or van injured in collision with other nonmotor vehicle', 'V57 Occupant of pick-up truck or van injured in collision with fixed or stationary object', 'V58 Occupant of pick-up truck or van injured in noncollision transport accident', 'V59 Occupant of pick-up truck or van injured in other and unspecified transport accidents']
['V60 Occupant of heavy transport vehicle injured in collision with pedestrian or animal', 'V61 Occupant of heavy transport vehicle injured in collision with pedal cycle', 'V62 Occupant of heavy transport vehicle injured in collision with two- or three-wheeled motor vehicle', 'V63 Occupant of heavy transport vehicle injured in collision with car, pick-up truck or van', 'V64 Occupant of heavy transport vehicle injured in collision with heavy transport vehicle or bus', 'V65 Occupant of heavy transport vehicle injured in collision with railway train or railway vehicle', 'V66 Occupant of heavy transport vehicle injured in collision with other nonmotor vehicle', 'V67 Occupant of heavy transport vehicle injured in collision with fixed or stationary object', 'V68 Occupant of heavy transport vehicle injured in noncollision transport accident', 'V69 Occupant of heavy transport vehicle injured in other and unspecified transport accidents']

['V70 Bus occupant injured in collision with pedestrian or animal', 'V71 Bus occupant injured in collision with pedal cycle', 'V72 Bus occupant injured in collision with two- or three-wheeled motor vehicle', 'V73 Bus occupant injured in collision with car, pick-up truck or van', 'V74 Bus occupant injured in collision with heavy transport vehicle or bus', 'V75 Bus occupant injured in collision with railway train or railway vehicle', 'V76 Bus occupant injured in collision with other nonmotor vehicle', 'V77 Bus occupant injured in collision with fixed or stationary object', 'V78 Bus occupant injured in noncollision transport accident', 'V79 Bus occupant injured in other and unspecified transport accidents']
['V80 Animal-rider or occupant of animal-drawn vehicle injured in transport accident', 'V81 Occupant of railway train or railway vehicle injured in transport accident', 'V82 Occupant of streetcar injured in transport accident', 'V83 Occupant of special vehicle mainly used on industrial premises injured in transport accident', 'V84 Occupant of special vehicle mainly used in agriculture injured in transport accident', 'V85 Occupant of special construction vehicle injured in transport accident', 'V86 Occupant of special all-terrain or other motor vehicle designed primarily for off-road use, injured in transport accident', "V87 Traffic accident of specified type but victim's mode of transport unknown", "V88 Nontraffic accident of specified type but victim's mode of transport unknown", 'V89 Motor- or nonmotor-vehicle accident, type of vehicle unspecified']
['V90 Accident to watercraft causing drowning and submersion', 'V91 Accident to watercraft causing other injury', 'V92 Water-transport-related drowning and submersion without accident to watercraft', 'V93 Accident on board watercraft without accident to watercraft, not causing drowning and submersion', 'V94 Other and unspecified water transport accidents']
['V95 Accident to powered aircraft causing injury to occupant', 'V96 Accident to nonpowered aircraft causing injury to occupant', 'V97 Other specified air transport accidents']
['V98 Other specified transport accidents', 'V99 Unspecified transport accident']
['W00 Fall on same level involving ice and snow', 'W01 Fall on same level from slipping, tripping and stumbling', 'W02 Fall involving ice-skates, skis, roller-skates or skateboards', 'W03 Other fall on same level due to collision with, or pushing by, another person', 'W04 Fall while being carried or supported by other persons', 'W05 Fall involving wheelchair', 'W06 Fall involving bed', 'W07 Fall involving chair', 'W08 Fall involving other furniture', 'W09 Fall involving playground equipment', 'W10 Fall on and from stairs and steps', 'W11 Fall on and from ladder', 'W12 Fall on and from scaffolding', 'W13 Fall from, out of or through building or structure', 'W14 Fall from tree', 'W15 Fall from cliff', 'W16 Diving or jumping into water causing injury other than drowning or submersion', 'W17 Other fall from one level to another', 'W18 Other fall on same level', 'W19 Unspecified fall']
['W20 Struck by thrown, projected or falling object(s)', 'W21 Striking against or struck by sports equipment', 'W22 Striking against or struck by other object(s)', 'W23 Caught, crushed, jammed or pinched in or between objects', 'W24 Contact with lifting and transmission device(s), not elsewhere classified', 'W25 Contact with sharp glass', 'W26 Contact with other sharp object(s)', 'W27 Contact with nonpowered hand tool', 'W28 Contact with powered lawnmower', 'W29 Contact with other powered hand tools and household machinery', 'W30 Contact with agricultural machinery', 'W31 Contact with other and unspecified machinery', 'W32 Handgun discharge', 'W33 Rifle, shotgun and larger firearm discharge', 'W34 Discharge from other and unspecified firearms', 'W35 Explosion and rupture of boiler', 'W36 Explosion and rupture of gas cylinder', 'W37 Explosion and rupture of pressurized tyre, pipe or hose', 'W38 Explosion and rupture of other specified pressurized devices', 'W39 Discharge of firework', 'W40 Explosion of other materials', 'W41 Exposure to high-pressure jet', 'W42 Exposure to noise', 'W43 Exposure to vibration', 'W44 Foreign body entering into or through eye or natural orifice', 'W45 Foreign body or object entering through skin', 'W46 Contact with hypodermic needle', 'W49 Exposure to other and unspecified inanimate mechanical forces']
['W50 Hit, struck, kicked, twisted, bitten or scratched by another person', 'W51 Striking against or bumped into by another person', 'W52 Crushed, pushed or stepped on by crowd or human stampede', 'W53 Bitten by rat', 'W54 Bitten or struck by dog', 'W55 Bitten or struck by other mammals', 'W56 Contact with marine animal', 'W57 Bitten or stung by nonvenomous insect and other nonvenomous arthropods', 'W58 Bitten or struck by crocodile or alligator', 'W59 Bitten or crushed by other reptiles', 'W60 Contact with plant thorns and spines and sharp leaves', 'W64 Exposure to other and unspecified animate mechanical forces']
['W65 Drowning and submersion while in bath-tub', 'W66 Drowning and submersion following fall into bath-tub', 'W67 Drowning and submersion while in swimming-pool', 'W68 Drowning and submersion following fall into swimming-pool', 'W69 Drowning and submersion while in natural water', 'W70 Drowning and submersion following fall into natural water', 'W73 Other specified drowning and submersion', 'W74 Unspecified drowning and submersion']
['W75 Accidental suffocation and strangulation in bed', 'W76 Other accidental hanging and strangulation', 'W77 Threat to breathing due to cave-in, falling earth and other substances', 'W78 Inhalation of gastric contents', 'W79 Inhalation and ingestion of food causing obstruction of respiratory tract', 'W80 Inhalation and ingestion of other objects causing obstruction of respiratory tract', 'W81 Confined to or trapped in a low-oxygen environment', 'W83 Other specified threats to breathing', 'W84 Unspecified threat to breathing']
['W85 Exposure to electric transmission lines', 'W86 Exposure to other specified electric current', 'W87 Exposure to unspecified electric current', 'W88 Exposure to ionizing radiation', 'W89 Exposure to man-made visible and ultraviolet light', 'W90 Exposure to other nonionizing radiation', 'W91 Exposure to unspecified type of radiation', 'W92 Exposure to excessive heat of man-made origin', 'W93 Exposure to excessive cold of man-made origin', 'W94 Exposure to high and low air pressure and changes in air pressure', 'W99 Exposure to other and unspecified man-made environmental factors']
['X00 Exposure to uncontrolled fire in building or structure', 'X01 Exposure to uncontrolled fire, not in building or structure', 'X02 Exposure to controlled fire in building or structure', 'X03 Exposure to controlled fire, not in building or structure', 'X04 Exposure to ignition of highly flammable material', 'X05 Exposure to ignition or melting of nightwear', 'X06 Exposure to ignition or melting of other clothing and apparel', 'X08 Exposure to other specified smoke, fire and flames', 'X09 Exposure to unspecified smoke, fire and flames']
['X10 Contact with hot drinks, food, fats and cooking oils', 'X11 Contact with hot tap-water', 'X12 Contact with other hot fluids', 'X13 Contact with steam and hot vapours', 'X14 Contact with hot air and gases', 'X15 Contact with hot household appliances', 'X16 Contact with hot heating appliances, radiators and pipes', 'X17 Contact with hot engines, machinery and tools', 'X18 Contact with other hot metals', 'X19 Contact with other and unspecified heat and hot substances']
['X20 Contact with venomous snakes and lizards', 'X21 Contact with venomous spiders', 'X22 Contact with scorpions', 'X23 Contact with hornets, wasps and bees', 'X24 Contact with centipedes and venomous millipedes (tropical)', 'X25 Contact with other venomous arthropods', 'X26 Contact with venomous marine animals and plants', 'X27 Contact with other specified venomous animals', 'X28 Contact with other specified venomous plants', 'X29 Contact with unspecified venomous animal or plant']
['X30 Exposure to excessive natural heat', 'X31 Exposure to excessive natural cold', 'X32 Exposure to sunlight', 'X33 Victim of lightning', 'X34 Victim of earthquake', 'X35 Victim of volcanic eruption', 'X36 Victim of avalanche, landslide and other earth movements', 'X37 Victim of cataclysmic storm', 'X38 Victim of flood', 'X39 Exposure to other and unspecified forces of nature']

['X40 Accidental poisoning by and exposure to nonopioid analgesics, antipyretics and antirheumatics', 'X41 Accidental poisoning by and exposure to antiepileptic, sedative-hypnotic, antiparkinsonism and psychotropic drugs, not elsewhere classified', 'X42 Accidental poisoning by and exposure to narcotics and psychodysleptics [hallucinogens], not elsewhere classified', 'X43 Accidental poisoning by and exposure to other drugs acting on the autonomic nervous system', 'X44 Accidental poisoning by and exposure to other and unspecified drugs, medicaments and biological substances', 'X45 Accidental poisoning by and exposure to alcohol', 'X46 Accidental poisoning by and exposure to organic solvents and halogenated hydrocarbons and their vapours', 'X47 Accidental poisoning by and exposure to carbon monoxide and other gases and vapours', 'X48 Accidental poisoning by and exposure to pesticides', 'X49 Accidental poisoning by and exposure to other and unspecified chemicals and noxious substances']
['X50 Overexertion and strenuous or repetitive movements', 'X51 Travel and motion', 'X52 Prolonged stay in weightless environment', 'X53 Lack of food', 'X54 Lack of water', 'X57 Unspecified privation']
['X58 Exposure to other specified factors', 'X59 Exposure to unspecified factor']

In [24]:
lst4=inner_section_names3

In [25]:
third3=lsttotable(lst4)
# third3

311 311

In [26]:
third = [third3[0], third3[1]] 
df2 = pd.DataFrame(list(zip(third3[0], third3[1])),columns =['Ids', 'Description'])
df2

      Ids                                        Description
0    C00                           Malignant neoplasm of lip
1    C01                Malignant neoplasm of base of tongue
2    C02   Malignant neoplasm of other and unspecified pa...
3    C03                           Malignant neoplasm of gum
4    C04                Malignant neoplasm of floor of mouth
..    ...                                                ...
306  X53                                        Lack of food
307  X54                                       Lack of water
308  X57                               Unspecified privation
309  X58                 Exposure to other specified factors
310  X59                      Exposure to unspecified factor

[311 rows x 2 columns]

In [134]:
frames = [df, df1, df2]
frames1=pd.concat(frames)
frames1

      Ids                            Description
0    A00                                 Cholera
1    A01          Typhoid and paratyphoid fevers
2    A02             Other salmonella infections
3    A03                             Shigellosis
4    A04   Other bacterial intestinal infections
..    ...                                    ...
306  X53                            Lack of food
307  X54                           Lack of water
308  X57                   Unspecified privation
309  X58     Exposure to other specified factors
310  X59          Exposure to unspecified factor

[2110 rows x 2 columns]

In [135]:
frames1["Ids"]=frames1["Ids"].apply(str)
fz=frames1
fz

      Ids                            Description
0    A00                                 Cholera
1    A01          Typhoid and paratyphoid fevers
2    A02             Other salmonella infections
3    A03                             Shigellosis
4    A04   Other bacterial intestinal infections
..    ...                                    ...
306  X53                            Lack of food
307  X54                           Lack of water
308  X57                   Unspecified privation
309  X58     Exposure to other specified factors
310  X59          Exposure to unspecified factor

[2110 rows x 2 columns]

In [136]:
fz = fz.reset_index(drop=True)

In [137]:
fz

       Ids                            Description
0     A00                                 Cholera
1     A01          Typhoid and paratyphoid fevers
2     A02             Other salmonella infections
3     A03                             Shigellosis
4     A04   Other bacterial intestinal infections
...    ...                                    ...
2105  X53                            Lack of food
2106  X54                           Lack of water
2107  X57                   Unspecified privation
2108  X58     Exposure to other specified factors
2109  X59          Exposure to unspecified factor

[2110 rows x 2 columns]

In [138]:
cz=fz
cz

       Ids                            Description
0     A00                                 Cholera
1     A01          Typhoid and paratyphoid fevers
2     A02             Other salmonella infections
3     A03                             Shigellosis
4     A04   Other bacterial intestinal infections
...    ...                                    ...
2105  X53                            Lack of food
2106  X54                           Lack of water
2107  X57                   Unspecified privation
2108  X58     Exposure to other specified factors
2109  X59          Exposure to unspecified factor

[2110 rows x 2 columns]

In [139]:
def filterdframe(fz):
    idx=[]
    for i in range(0,fz.shape[0]):
        if(len(fz.loc[i]["Ids"])>4):
            idx.append(i)
    return idx

In [140]:
idxxx=filterdframe(cz)

In [1]:
# idxxx

In [144]:
cz.drop(idxxx,inplace=True)

In [145]:
cz

       Ids                            Description
0     A00                                 Cholera
1     A01          Typhoid and paratyphoid fevers
2     A02             Other salmonella infections
3     A03                             Shigellosis
4     A04   Other bacterial intestinal infections
...    ...                                    ...
2105  X53                            Lack of food
2106  X54                           Lack of water
2107  X57                   Unspecified privation
2108  X58     Exposure to other specified factors
2109  X59          Exposure to unspecified factor

[2047 rows x 2 columns]

In [147]:
cz=cz.reset_index(drop=True)

In [148]:
cz.to_csv("icd_10_2019_final.csv",index=False)

In [149]:
pd.read_csv("icd_10_2019_final.csv")

       Ids                            Description
0     A00                                 Cholera
1     A01          Typhoid and paratyphoid fevers
2     A02             Other salmonella infections
3     A03                             Shigellosis
4     A04   Other bacterial intestinal infections
...    ...                                    ...
2042  X53                            Lack of food
2043  X54                           Lack of water
2044  X57                   Unspecified privation
2045  X58     Exposure to other specified factors
2046  X59          Exposure to unspecified factor

[2047 rows x 2 columns]

In [151]:
df_sorted = cz.sort_values('Ids')
df_sorted = df_sorted.reset_index(drop=True)

In [152]:
df_sorted.to_csv("icd_10_2019_final.csv",index=False)